body {
  background-color: #EDD2F3;
}

.App-header {
  margin: 60px 0 100px 0;
  text-align: center;
}

.footer {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color: #3a3191;
}

.footer a {
color: #516BEB;
}